*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

:root {
  /* ----- COLORS ----- */
  --primary-color: #c8c6d7;
  --question-color: #bfacc8;
  --answer-color: #783f8e;
  --footer-color: #4a4063;
  --acsent-color: #4f1271;

  /* ------ FONT ------ */
  --question: 2.4rem;
  --question-answered: 1.8rem;
  --answer: 2.4rem;
  --button-text: 1.8rem;
}
