@import "./global.css";

@import "./components/button.css";

@import "./components/card.css";

@import "./components/header.css";

@import "./components/navigation.css";

h1 {
  font-size: 3.6rem;
}

.main-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin: calc(3.6rem + 5rem) auto;
}

.answer {
  display: none;
}

/* ----- RESPONSIVE ------- */

@media screen and (min-width: 1025px) {
  .main-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: calc(3.6rem + 5rem) auto;
  }

  .card-container {
    width: 45%;
    background-color: var(--primary-color);
    padding: 1rem;
    gap: 2rem;
  }
}
