.show-answer {
  min-width: 5rem;
  min-height: 2rem;
  background-color: var(--acsent-color);
  padding: 0.5rem 2rem;
  color: white;
  border: 0.1rem solid var(--primary-color);
  border-radius: 9px;
}

.bookmark {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  position: relative;
  top: -2.8rem;
  right: -2rem;
}

.bookmark-checked {
  display: none;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  position: relative;
  top: -9rem;
  right: -2rem;
}

.bookmark img {
  width: 3rem;
}

.show-answer {
  font-size: var(--button-text);
}
