.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 4rem;
  padding: 1rem;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.nav-icon {
  width: 2.5rem;
  height: 2.5rem;
}

nav .home-page:hover,
nav .about:hover,
nav .bookmarks:hover {
  position: relative;
  bottom: 2px;
  background-size: cover;
  border-bottom: 2px solid var(--acsent-color);
}

nav .home-page:active {
  background-image: url("./resources/home_filled.png");
}
nav .about:active {
  background-image: url("./resources/profile_filled.png");
}
nav .bookmarks:active {
  background-image: url("./resources/bookmark_filled.png");
}
