.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  min-height: 2rem;
  padding: 1rem;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.nav-icon {
  width: 2rem;
  height: 2rem;
}

nav .home-page:hover,
nav .about:hover,
nav .bookmarks:hover {
  position: relative;
  bottom: 2px;
  background-size: cover;
  border-bottom: 2px solid var(--acsent-color);
}
