.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 4rem;
  padding: 1rem;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.nav-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.nav--item {
  transition: all 0.2s ease-in-out;
}

.nav--item:hover {
  position: relative;
  bottom: 2px;
  background-size: cover;
  border-bottom: 2px solid var(--acsent-color);
}
